{% extends 'layout.html' %}

{% block content %}
<section class="bg-light">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
          <div class="col-12 col-lg-5">
            <h5>Technical References</h5>
            <div class="list-group">
              <a href="https://github.com/Azure-Samples/active-directory-verifiable-credentials-python"  target="_blank" class="list-group-item list-group-item-action">Azure Samples - Verified ID</a>
              <a href="https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/get-started-request-api?tabs=http"  target="_blank" class="list-group-item list-group-item-action">Entra Verified ID - Request Service Rest API</a>
              <a href="https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/rules-and-display-definitions-model"  target="_blank" class="list-group-item list-group-item-action">Entra Verified ID - Rules and Display Definitions</a>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <h5>Images and Styles</h5>
            <div class="list-group">
              <a href="https://startbootstrap.com/theme/new-age" target="_blank" class="list-group-item list-group-item-action">Start Bootstrap Theme</a>
              <a href="https://storyset.com/technology" target="_blank" class="list-group-item list-group-item-action">Technology illustrations by Storyset</a>
              <a href="https://storyset.com/online" target="_blank" class="list-group-item list-group-item-action">Online illustrations by Storyset</a>
              <a href="https://storyset.com/people" target="_blank" class="list-group-item list-group-item-action">People illustrations by Storyset</a>
              <a href="https://storyset.com/business" target="_blank" class="list-group-item list-group-item-action">Business illustrations by Storyset</a>
              <a href="https://storyset.com/insurance" target="_blank" class="list-group-item list-group-item-action">Insurance illustrations by Storyset</a>
              <a href="https://storyset.com/health" target="_blank" class="list-group-item list-group-item-action">Health illustrations by Storyset</a>
              <a href="https://storyset.com/work" target="_blank" class="list-group-item list-group-item-action">Work illustrations by Storyset</a>
            </div>
          </div>
    </div>
  </div>
</section>

{% endblock %}

