{% extends 'layout.html' %}

{% block content %}
<section class="bg-light">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
          <div class="col-12 col-lg-5">
            <h5>Technical</h5>
            <div class="list-group">
              <a href="https://github.com/Azure-Samples/active-directory-verifiable-credentials-python" class="list-group-item list-group-item-action">Microsoft Source Code</a>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <h5>Images from FreePik</h5>
            <div class="list-group">
              <a href="https://storyset.com/technology" class="list-group-item list-group-item-action">Technology illustrations by Storyset</a>
              <a href="https://storyset.com/online" class="list-group-item list-group-item-action">Online illustrations by Storyset</a>
              <a href="https://storyset.com/people" class="list-group-item list-group-item-action">People illustrations by Storyset</a>
              <a href="https://storyset.com/business" class="list-group-item list-group-item-action">Business illustrations by Storyset</a>
              <a href="https://storyset.com/insurance" class="list-group-item list-group-item-action">Insurance illustrations by Storyset</a>
              <a href="https://storyset.com/health" class="list-group-item list-group-item-action">Health illustrations by Storyset</a>
              <a href="https://storyset.com/work" class="list-group-item list-group-item-action">Work illustrations by Storyset</a>
            </div>
          </div>
    </div>
  </div>
</section>

{% endblock %}

