{% extends 'layout.html' %}

{% block content %}
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Healthcare Provider</h2>
                <div id="infoText"  style="display:block;">
                    <p class="lead fw-normal text-muted">You will be asked to verify with your Citizen Id and Insurance card. Upon successful verification you will be issued an Insurance Card.</p>
                    <p class="lead fw-normal text-muted">If you dont have a Citizen Id card or Insurance card yet, Please visit <a href="{{ url_for('identityProvider') }}">Identity Provider</a> or <a href="{{ url_for('insuranceProvider') }}">Insurance Provider</a>.</p>                          
                </div>
                <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
                    <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
                    <div id="message"></div>
                    <div id="subject"></div>
                    <div id="payload"></div>
                 </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" id="verifyId" class="btn btn-primary px-4 me-md-2">Get started -></button>
                </div>
                <div id="claims-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th scope="row">Citizen Id</th>
                            <td id="citizenId"></td>
                        </tr>
                        <tr>
                            <th scope="row">First Name</th>
                            <td id="firstName"></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td id="lastName"></td>
                        </tr>
                        <tr>
                            <th scope="row">Date of Birth</th>
                            <td id="dateOfBirth"></td>
                        </tr>
                        <tr>
                            <th scope="row">Insurance ID</th>
                            <td id="insuranceId"></td>
                        </tr>
                        <tr>
                            <th scope="row">Insurance Type</th>
                            <td id="insuranceType"></td>
                        </tr>
                        <tr>
                            <th scope="row">Insurance Status</th>
                            <td id="insuranceStatus"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="image-section" class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="../assets/img/healthcare-provider.svg" alt="..." /></div>
            </div>
            <div id="qr-section" class="col-sm-8 col-md-6">
                <div id="qrText"  style="display:none;">
                    <p class="small-text lead fw-normal text-muted">
                        Scan the QR Code with Microsoft Authenticator
                    </p>
                </div>
                <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
                <div id="qrcode" style="text-align: center"></div>
                <div id="pinCodeText" style="display: none"></div>
            </div>
        </div>
    </div>
</section>
    
                <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
                <script>
                    var verifyId = document.getElementById('verifyId');
                    var signOut = document.getElementById('sign-out');
                    var display = document.getElementById('display');
                    var qrcode = new QRCode("qrcode", { width: 300, height: 300 });
                    var respPresentationReq = null;
                    verifyId.addEventListener('click', () => {
                        fetch('/api/identity-insurance/presentation-request')
                        .then(function(response) {
                            response.text()
                            .catch(error => document.getElementById("message").innerHTML = error)
                            .then(function(message) {
                                respPresentationReq = JSON.parse(message);
                                if( /Android/i.test(navigator.userAgent) ) {
                                    console.log(`Android device! Using deep link (${respPresentationReq.url}).`);
                                    window.location.href = respPresentationReq.url; setTimeout(function () {
                                    window.location.href = "https://play.google.com/store/apps/details?id=com.azure.authenticator"; }, 2000);
                                } else if (/iPhone/i.test(navigator.userAgent)) {
                                    console.log(`iOS device! Using deep link (${respPresentationReq.url}).`);
                                    window.location.replace(respPresentationReq.url);
                                } else {
                                    console.log(`Not Android or IOS. Generating QR code encoded with ${message}`);
                                    qrcode.makeCode(respPresentationReq.url);
                                    document.getElementById('verifyId').style.visibility = "hidden";
                                    document.getElementById('image-section').style.display = "none";
                                    document.getElementById('infoText').style.display = "none";
                                    document.getElementById('qrText').style.display = "block";
                                }
                            }).catch(error => { console.log(error.message); })
                        }).catch(error => { console.log(error.message); })
                        var baseUrl = window.location.origin
                        var checkStatus = setInterval(function () {
                            fetch(baseUrl + '/api/identity-insurance/presentation-response?id=' + respPresentationReq.id )
                                .then(response => response.text())
                                .catch(error => document.getElementById("message").innerHTML = error)
                                .then(response => {
                                    if (response.length > 0) {
                                        console.log(response)
                                        respMsg = JSON.parse(response);
                                        // QR Code scanned
                                        console.log(respMsg.status);
                                        if (respMsg.status == 'request_retrieved') {
                                            document.getElementById('message-wrapper').style.display = "block";
                                            document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "0.1";
                                            document.getElementById('qrText').style.display = "none";
                                            document.getElementById('message').innerHTML = respMsg.message;
                                        }
                                        
                                        if (respMsg.status == 'presentation_verified') {
                                            document.getElementById('claims-wrapper').style.display = "block";
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('message').style.display = "none";
                                            document.getElementById('firstName').innerText  = respMsg.firstName;
                                            document.getElementById('lastName').innerText  = respMsg.lastName;
                                            document.getElementById('dateOfBirth').innerText  = respMsg.dateOfBirth;
                                            document.getElementById('citizenId').innerText  = respMsg.citizenId;
                                            document.getElementById('insuranceId').innerText  = respMsg.insuranceId;
                                            document.getElementById('insuranceType').innerText  = respMsg.insuranceType;
                                            document.getElementById('insuranceStatus').innerText  = respMsg.insuranceStatus;
                                            document.getElementById('subject').innerHTML = respMsg.firstName +" " + respMsg.lastName +", Your insurance has been verified and eligible for a premium healthcare.";
                                            document.getElementById('image-section').style.display = "block";
                                            clearInterval(checkStatus);
                                        }
                                    }
                                })
                        }, 1500); //change this to higher interval if you use ngrok to prevent overloading the free tier service
                    })
                </script>
{% endblock %}