{% extends 'layout.html' %}

{% block content %}
        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Citizen ID</h2>
                        <div id="infoText"  style="display:block;">
                            <p class="lead fw-normal text-muted">In a real-world scenario, you will be asked to upload a selfie and any identification document such as State Id, Driver's License, Passport to prove who you are. A real time verification will take place with the Identity Verification Partner to verify your identity. Upon confirmation from partner, you will be issued a credential.</p>
                            <p class="lead fw-normal text-muted">Assume that the identity verification has been successful for <strong>Tyler Durden</strong>. Please click on next step to issue a Citizen ID Card.</p>
                        </div>
                        <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
                            <div id="message"></div>
                            <div id="mobilePinCodeText" style="display: none"></div>
                         </div>
                        <div id="nextSteps" style="display: none">
                            <br>
                            <h5>Next steps</h5>
                            <a href="{{ url_for('employer') }}" class="btn btn-primary px-4 me-md-2">Employer</a>
                            <a href="{{ url_for('insuranceProvider') }}" class="btn btn-primary px-4 me-md-2">Insurance Provider</a>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" id="issueId" class="btn btn-primary px-4 me-md-2">Next step</button>
                        </div>
                    </div>
                    <div id="image-section" class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="../assets/img/identity-provider.svg" alt="..." /></div>
                    </div>
                    <div id="qr-section" class="col-sm-8 col-md-6">
                        <div id="qrText"  style="display:none;">
                            <p class="small-text lead fw-normal text-muted">
                                Open Microsoft Authenticator -> Verified IDs -> Scan the QR Code
                            </p>
                        </div>
                        <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
                        <div id="qrcode" style="text-align: center"></div>
                        <div id="pinCodeText" style="display: none"></div>
                    </div>
                </div>
            </div>
        </section> 
                <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
                <script>
                    var issueId = document.getElementById('issueId');
                    var display = document.getElementById('display');
                    var qrcode = new QRCode("qrcode", { width: 300, height: 300 });
                    var respIssuanceReq = null;
                    issueId.addEventListener('click', () => {
                        fetch('/api/issuer/issuance-request')
                        .then(function(response) {
                            response.text()
                            .catch(error => document.getElementById("message").innerHTML = error)
                            .then(function(message) {
                                respIssuanceReq = JSON.parse(message);
                                if( /Android/i.test(navigator.userAgent) ) {
                                    console.log(`Android device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.href = respIssuanceReq.url; setTimeout(function () {
                                    window.location.href = "https://play.google.com/store/apps/details?id=com.azure.authenticator"; }, 2000);
                                    document.getElementById('issueId').style.display = "none";
                                    document.getElementById('image-section').style.display = "none";
                                    document.getElementById('infoText').style.display = "none";
                                    if (respIssuanceReq.pin) {
                                        document.getElementById('mobilePinCodeText').innerHTML = "Pin code: " + respIssuanceReq.pin;
                                        document.getElementById('mobilePinCodeText').style.display = "block";
                                    }
                                } else if (/iPhone/i.test(navigator.userAgent)) {
                                    console.log(`iOS device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.replace(respIssuanceReq.url);
                                    document.getElementById('issueId').style.display = "none";
                                    document.getElementById('image-section').style.display = "none";
                                    document.getElementById('infoText').style.display = "none";
                                    if (respIssuanceReq.pin) {
                                        document.getElementById('mobilePinCodeText').innerHTML = "Pin code: " + respIssuanceReq.pin;
                                        document.getElementById('mobilePinCodeText').style.display = "block";
                                    }
                                } else {
                                    console.log(`Not Android or IOS. Generating QR code encoded with ${message}`);
                                    qrcode.makeCode(respIssuanceReq.url);
                                    document.getElementById('issueId').style.display = "none";
                                    document.getElementById('qrText').style.display = "block";
                                    document.getElementById('image-section').style.display = "none";
                                    document.getElementById('infoText').style.display = "none";
                                    if (respIssuanceReq.pin) {
                                        document.getElementById('pinCodeText').innerHTML = "Pin code: " + respIssuanceReq.pin;
                                        document.getElementById('pinCodeText').style.display = "block";
                                    }
                                }
                            }).catch(error => { console.log(error.message); })
                        }).catch(error => { console.log(error.message); })
                        var baseUrl = window.location.origin
                        var checkStatus = setInterval(function () {
                            fetch(baseUrl + '/api/issuer/issuance-response?id=' + respIssuanceReq.id )
                                .then(response => response.text())
                                .catch(error => document.getElementById("message").innerHTML = error)
                                .then(response => {
                                    if (response.length > 0) {
                                        console.log(response)
                                        respMsg = JSON.parse(response);
                                        // QR Code scanned, show pincode if pincode is required
                                        if (respMsg.status == 'request_retrieved') {
                                            document.getElementById('message-wrapper').style.display = "block";
                                            document.getElementById('qrText').style.display = "none";                                           
                                            document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "0.1";
                                            if (respMsg.pin) {
                                                document.getElementById('pinCodeText').style.display = "visible";
                                            }
                                            document.getElementById('message').innerHTML = respMsg.message;
                                        }
                                        if (respMsg.status == 'issuance_successful') {
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('pinCodeText').style.display = "none";
                                            document.getElementById('mobilePinCodeText').style.display = "none";
                                            document.getElementById('message').innerHTML = respMsg.message;
                                            if (document.getElementById('qrcode').style.display == "none") {
                                                document.getElementById('nextSteps').style.display = "block";
                                            }
                                            document.getElementById('image-section').style.display = "block";
                                            clearInterval(checkStatus);
                                        }
                                        if (respMsg.status == 'issuance_failed') {
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('pinCodeText').style.display = "none";
                                            document.getElementById('mobilePinCodeText').style.display = "none";
                                            //document.getElementById('message').innerHTML = respMsg.message;
                                            document.getElementById('message').innerHTML = "Issuance error occured, did you enter the wrong pincode? Please refresh the page and try again.";
                                            document.getElementById('payload').innerHTML = "Payload: " + respMsg.payload;
                                            document.getElementById('image-section').style.display = "block";
                                            clearInterval(checkStatus);
                                        }
                                    }
                                })
                        }, 1500);
                    })
                </script>
{% endblock %}