{% extends 'layout.html' %}

{% block content %}
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">An Insurance Company</h2>
                <h3>Group Enrollment</h3>
                <div id="infoText"  style="display:block;">
                    <p class="lead fw-normal text-muted">You will be asked to verify with your Citizen Id and Employement Status. Upon successful verification you will be issued Insurance Card.</p>
                    <p class="lead fw-normal text-muted">If you dont have a Citizen Id card or Employee card yet, Please visit <a href="{{ url_for('identityProvider') }}">Identity Provider</a> or <a href="{{ url_for('employer') }}">Employer</a>.</p>           
                </div>
                <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
                    <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
                    <div id="presentationMessage"></div>
                    <div id="issuanceMessage"></div>
                    <div id="subject"></div>
                    <div id="payload"></div>
                 </div>
                 <div id="nextSteps" style="display: none">
                    <br>
                    <h5>Next steps</h5>
                    <a href="{{ url_for('healthcareProvider') }}" class="btn btn-primary px-4 me-md-2">Healthcare Provider</a>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" id="verifyId" class="btn btn-primary px-4 me-md-2">Get started -></button>
                </div>
                <div id="claims-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th scope="row">Citizen Id</th>
                            <td id="citizenId"></td>
                        </tr>
                        <tr>
                            <th scope="row">First Name</th>
                            <td id="firstName"></td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td id="lastName"></td>
                        </tr>
                        <tr>
                            <th scope="row">Date of Birth</th>
                            <td id="dateOfBirth"></td>
                        </tr>
                        <tr>
                            <th scope="row">Employee Id</th>
                            <td id="employeeId"></td>
                        </tr>
                        <tr>
                            <th scope="row">Employee Status</th>
                            <td id="employeeStatus"></td>
                        </tr>
                        <tr>
                            <th scope="row">Work Email Address</th>
                            <td id="workEmailAddress"></td>
                        </tr>
                    </table>
                    <p>Please click on next step to get your Insurance Card</p>
                    <button type="button" id="group_issuance" class="btn btn-primary px-4 me-md-2">Next step</button>
                </div>
            </div>
            <div id="image-section" class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="../assets/img/insurance-group.svg" alt="..." /></div>
            </div>
            <div id="qr-section" class="col-sm-8 col-md-6">
                <div id="qrText"  style="display:none;">
                    <p class="small-text lead fw-normal text-muted">
                        Open Microsoft Authenticator -> Verified IDs -> Scan the QR Code
                    </p>
                </div>
                <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
                <div id="qrcode" style="text-align: center"></div>
                <div id="pinCodeText" style="display: none"></div>
            </div>
        </div>
    </div>
</section>
    
                <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
                <script>
                    var verifyId = document.getElementById('verifyId');
                    var display = document.getElementById('display');
                    var qrcode = new QRCode("qrcode", { width: 300, height: 300 });
                    var respPresentationReq = null;
                    verifyId.addEventListener('click', () => {
                        fetch('/api/identity-employee/presentation-request')
                        .then(function(response) {
                            response.text()
                            .catch(error => document.getElementById("presentationMessage").innerHTML = error)
                            .then(function(message) {
                                respPresentationReq = JSON.parse(message);
                                if( /Android/i.test(navigator.userAgent) ) {
                                    console.log(`Android device! Using deep link (${respPresentationReq.url}).`);
                                    window.location.href = respPresentationReq.url; setTimeout(function () {
                                    window.location.href = "https://play.google.com/store/apps/details?id=com.azure.authenticator"; }, 2000);
                                } else if (/iPhone/i.test(navigator.userAgent)) {
                                    console.log(`iOS device! Using deep link (${respPresentationReq.url}).`);
                                    window.location.replace(respPresentationReq.url);
                                } else {
                                    console.log(`Not Android or IOS. Generating QR code encoded with ${message}`);
                                    qrcode.makeCode(respPresentationReq.url);
                                    document.getElementById('verifyId').style.visibility = "hidden";
                                    document.getElementById('image-section').style.display = "none";
                                    document.getElementById('infoText').style.display = "none";
                                    document.getElementById('qrText').style.display = "block";
                                }
                            }).catch(error => { console.log(error.message); })
                        }).catch(error => { console.log(error.message); })
                        var baseUrl = window.location.origin
                        var checkStatus = setInterval(function () {
                            fetch(baseUrl + '/api/identity-employee/presentation-response?id=' + respPresentationReq.id )
                                .then(response => response.text())
                                .catch(error => document.getElementById("presentationMessage").innerHTML = error)
                                .then(response => {
                                    if (response.length > 0) {
                                        console.log(response)
                                        respMsg = JSON.parse(response);
                                        // QR Code scanned
                                        console.log(respMsg.status);
                                        if (respMsg.status == 'request_retrieved') {
                                            document.getElementById('message-wrapper').style.display = "block";
                                            document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "0.1";
                                            document.getElementById('qrText').style.display = "none";
                                            document.getElementById('presentationMessage').innerHTML = respMsg.message;
                                        }
                                        
                                        if (respMsg.status == 'presentation_verified') {
                                            document.getElementById('claims-wrapper').style.display = "block";
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('presentationMessage').style.display = "none";
                                            document.getElementById('firstName').innerText  = respMsg.firstName;
                                            document.getElementById('lastName').innerText  = respMsg.lastName;
                                            document.getElementById('dateOfBirth').innerText  = respMsg.dateOfBirth;
                                            document.getElementById('citizenId').innerText  = respMsg.citizenId;
                                            document.getElementById('employeeId').innerText  = respMsg.employeeId;
                                            document.getElementById('employeeStatus').innerText  = respMsg.employeeStatus;
                                            document.getElementById('workEmailAddress').innerText  = respMsg.workEmailAddress;
                                            document.getElementById('subject').innerHTML = respMsg.firstName +" " + respMsg.lastName +" identity and employment has been verified.";
                                            document.getElementById('image-section').style.display = "block";
                                            clearInterval(checkStatus);
                                        }
                                    }
                                })
                        }, 1500); //change this to higher interval if you use ngrok to prevent overloading the free tier service
                    })
                    group_issuance.addEventListener('click', () => {
                        fetch('/api/insurance/issuance-request')
                        .then(function(response) {
                            response.text()
                            .catch(error => document.getElementById("issuanceMessage").innerHTML = error)
                            .then(function(message) {
                                document.getElementById('claims-wrapper').style.display = "none";
                                document.getElementById('subject').style.display = "none";
                                document.getElementById('qrcode').style.display = "block";
                                document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "1";
                                respIssuanceReq = JSON.parse(message);
                                if( /Android/i.test(navigator.userAgent) ) {
                                    console.log(`Android device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.href = respIssuanceReq.url; setTimeout(function () {
                                    window.location.href = "https://play.google.com/store/apps/details?id=com.azure.authenticator"; }, 2000);
                                } else if (/iPhone/i.test(navigator.userAgent)) {
                                    console.log(`iOS device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.replace(respIssuanceReq.url);
                                } else {
                                    console.log(`Not Android or IOS. Generating QR code encoded with ${message}`);
                                    qrcode.makeCode(respIssuanceReq.url);
                                    document.getElementById('verifyId').style.display = "none";
                                    document.getElementById('qrText').style.display = "block";
                                    document.getElementById('image-section').style.display = "none";
                                    if (respIssuanceReq.pin) {
                                        document.getElementById('pinCodeText').innerHTML = "Pin code: " + respIssuanceReq.pin;
                                        document.getElementById('pinCodeText').style.display = "block";
                                    }
                                }
                            }).catch(error => { console.log(error.message); })
                        }).catch(error => { console.log(error.message); })
                        var baseUrl = window.location.origin
                        var checkStatus = setInterval(function () {
                            fetch(baseUrl + '/api/insurance/issuance-response?id=' + respIssuanceReq.id )
                                .then(response => response.text())
                                .catch(error => document.getElementById("issuanceMessage").innerHTML = error)
                                .then(response => {
                                    if (response.length > 0) {
                                        console.log(response)
                                        respMsg = JSON.parse(response);
                                        // QR Code scanned, show pincode if pincode is required
                                        if (respMsg.status == 'request_retrieved') {
                                            document.getElementById('message-wrapper').style.display = "block";
                                            document.getElementById('qrText').style.display = "none";
                                            document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "0.1";
                                            if (respMsg.pin) {
                                                document.getElementById('pinCodeText').style.display = "visible";
                                            }
                                            document.getElementById('issuanceMessage').innerHTML = respMsg.message;
                                        }
                                        if (respMsg.status == 'issuance_successful') {
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('pinCodeText').style.display = "none";
                                            document.getElementById('issuanceMessage').innerHTML = respMsg.message;
                                            document.getElementById('image-section').style.display = "block";
                                            if (document.getElementById('qrcode').style.display == "none") {
                                                document.getElementById('nextSteps').style.display = "block";
                                            }
                                            clearInterval(checkStatus);
                                        }
                                        if (respMsg.status == 'issuance_failed') {
                                            document.getElementById('qrcode').style.display = "none";
                                            document.getElementById('pinCodeText').style.display = "none";
                                            //document.getElementById('issuanceMessage').innerHTML = respMsg.message;
                                            document.getElementById('issuanceMessage').innerHTML = "Issuance error occured, did you enter the wrong pincode? Please refresh the page and try again.";
                                            document.getElementById('payload').innerHTML = "Payload: " + respMsg.payload;
                                            document.getElementById('image-section').style.display = "block";
                                            clearInterval(checkStatus);
                                        }
                                    }
                                })
                        }, 1500);
                    })
                </script>
{% endblock %}