{% extends 'layout.html' %}

{% block content %}

<ul>
    <li class="ms-3"><a href="https://www.freepik.com/free-vector/father-shaking-hands-with-insurance-agent_6974887.htm#query=insurance&position=2&from_view=search&track=sph">Image by pch.vector</a> on Freepik</li>
    <li class="ms-3">Image by <a href="https://www.freepik.com/free-vector/smartphone-scanning-qr-code_9427766.htm#query=qrcode&position=24&from_view=search&track=sph">Freepik</a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul>

{% endblock %}

