{% extends 'layout.html' %}

{% block content %}
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Terms and Privacy</h1>
                    <p class="lead fw-normal text-muted">Under construction...</p>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}